/* Generated Color Tokens from Figma JSON */
:root {
  --text-brand-primary: #1E3A8A;
  --text-brand-primary-alt: #1E3A8A;
  --text-secondary-brand: #3B82F6;
  --text-accent: #00C2FF;
  --text-error: #D92D21;
  --text-error-on-bg: #D92D21;
  --text-info: #006BFF;
  --text-info-on-bg: #006BFF;
  --text-success: #079455;
  --text-success-on-bg: #079455;
  --text-warning: #DC6903;
  --text-warning-on-bg: #DC6903;
  --text-display: #0B0D12;
  --text-primary: #181D27;
  --text-primary-on-brand: #FFFFFF;
  --text-secondary: #414651;
  --text-secondary-hover: #252B37;
  --text-secondary-on-brand: #252B37;
  --text-tertiary: #717680;
  --text-tertiary-hover: #414651;
  --text-tertiary-on-brand: #414651;
  --text-quaternary: #A3A7AE;
  --text-quartinary-on-brand: #7486B8;
  --text-placeholder: #D5D7DA;
  --text-placeholder-subtle: #E9EAEB;
  --text-white: #FFFFFF;
  --text-disable: #A3A7AE;
  --border-brand: #1E3A8A;
  --border-brand-alt: #182E6E;
  --border-brand-hover: #234F95;
  --border-error: #F14437;
  --border-error-subtle: #FDA29B;
  --border-warning: #F79008;
  --border-warning-subtle: #FFC84B;
  --border-success: #19B26B;
  --border-success-subtle: #75E1A7;
  --border-info: #006BFF;
  --border-info-subtle: #7CB3FF;
  --border-primary: #E9EAEB;
  --border-secondary: #D5D7DA;
  --border-tertiary: #F5F5F5;
  --border-disable: #D5D7DA;
  --border-disable-subtle: #E9EAEB;
  --bg-brand-primary: #E0E5F1;
  --bg-brand-primary-alt: #E0E5F1;
  --bg-brand-secondary: #CBD2E6;
  --bg-brand-solid: #1E3A8A;
  --bg-brand-solid-hover: #122353;
  --bg-brand-section: #0C1737;
  --bg-brand-section-subtle: #122353;
  --bg-secondary-color: #D8E6FD;
  --bg-secondary-color-solid: #3B82F6;
  --bg-secondary-color-hover: #183565;
  --bg-error-primary: #FEF3F2;
  --bg-error-secondary: #FEE4E2;
  --bg-error-solid: #D92D21;
  --bg-warning-primary: #FFFAEA;
  --bg-warning-secondary: #FEF1C6;
  --bg-warning-solid: #DC6903;
  --bg-success-primary: #ECFEF3;
  --bg-success-secondary: #DCFAE6;
  --bg-success-solid: #079455;
  --bg-info-primary: #E5F0FF;
  --bg-info-secondary: #CEE3FF;
  --bg-info-solid: #005AD6;
  --bg-primary: #FFFFFF;
  --bg-primary-alt: #FFFFFF;
  --bg-primary-hover: #FAFAFA;
  --bg-primary-solid: #0B0D12;
  --bg-secondary: #FAFAFA;
  --bg-secondary-alt: #FAFAFA;
  --bg-secondary-hover: #F5F5F5;
  --bg-secondary-subtle: #FDFDFD;
  --bg-secondary-solid: #535862;
  --bg-tertiary: #F5F5F5;
  --bg-quaternary: #E9EAEB;
  --bg-active: #FAFAFA;
  --bg-disable: #F5F5F5;
  --bg-disable-subtle: #FAFAFA;
  --bg-overlay: #0B0D12;
  --fg-brand-primary: #1E3A8A;
  --fg-brand-primary-alt: #182E6E;
  --fg-brand-secondary: #4960A1;
  --fg-error: #D92D21;
  --fg-error-alt: #F14437;
  --fg-warning: #DC6903;
  --fg-warning-alt: #F79008;
  --fg-success: #079455;
  --fg-success-alt: #19B26B;
  --fg-info: #006BFF;
  --fg-info-alt: #3389FF;
  --fg-primary: #181D27;
  --fg-secondary: #414651;
  --fg-secondary-hover: #252B37;
  --fg-tertiary: #535862;
  --fg-tertiary-hover: #414651;
  --fg-quartenary: #717680;
  --fg-quartenary-hover: #535862;
  --fg-alternative: #A3A7AE;
  --fg-alternative-hover: #717680;
  --fg-alternative-subtle: #D5D7DA;
  --fg-white: #A3A7AE;
  --fg-disable: #A3A7AE;
  --fg-disable-subtle: #D5D7DA;
  --alpha-white-alpha-white-100: #FFFFFF;
  --alpha-white-alpha-white-90: #FFFFFF;
  --alpha-white-alpha-white-80: #FFFFFF;
  --alpha-white-alpha-white-70: #FFFFFF;
  --alpha-white-alpha-white-60: #FFFFFF;
  --alpha-white-alpha-white-50: #FFFFFF;
  --alpha-white-alpha-white-40: #FFFFFF;
  --alpha-white-alpha-white-30: #FFFFFF;
  --alpha-white-alpha-white-20: #FFFFFF;
  --alpha-white-alpha-white-10: #FFFFFF;
  --alpha-black-alpha-black-100: #000000;
  --alpha-black-alpha-black-90: #000000;
  --alpha-black-alpha-black-80: #000000;
  --alpha-black-alpha-black-70: #000000;
  --alpha-black-alpha-black-60: #000000;
  --alpha-black-alpha-black-50: #000000;
  --alpha-black-alpha-black-40: #000000;
  --alpha-black-alpha-black-30: #000000;
  --alpha-black-alpha-black-20: #000000;
  --alpha-black-alpha-black-10: #000000;
  --utility-gray-utility-gray-25: #FDFDFD;
  --utility-gray-utility-gray-50: #FAFAFA;
  --utility-gray-utility-gray-100: #F5F5F5;
  --utility-gray-utility-gray-200: #E9EAEB;
  --utility-gray-utility-gray-300: #D5D7DA;
  --utility-gray-utility-gray-400: #A3A7AE;
  --utility-gray-utility-gray-500: #717680;
  --utility-gray-utility-gray-600: #535862;
  --utility-gray-utility-gray-700: #414651;
  --utility-gray-utility-gray-800: #252B37;
  --utility-gray-utility-gray-900: #181D27;
  --utility-brand-utility-brand-25: #F6F8FD;
  --utility-brand-utility-brand-50: #E0E5F1;
  --utility-brand-utility-brand-50-alt: #E0E5F1;
  --utility-brand-utility-brand-100: #CBD2E6;
  --utility-brand-utility-brand-100-alt: #CBD2E6;
  --utility-brand-utility-brand-200: #A0ACCF;
  --utility-brand-utility-brand-200-alt: #A0ACCF;
  --utility-brand-utility-brand-300: #7486B8;
  --utility-brand-utility-brand-300-alt: #7486B8;
  --utility-brand-utility-brand-400: #4960A1;
  --utility-brand-utility-brand-400-alt: #4960A1;
  --utility-brand-utility-brand-500: #1E3A8A;
  --utility-brand-utility-brand-500-alt: #1E3A8A;
  --utility-brand-utility-brand-600: #182E6E;
  --utility-brand-utility-brand-600-alt: #182E6E;
  --utility-brand-utility-brand-700: #122353;
  --utility-brand-utility-brand-700-alt: #122353;
  --utility-brand-utility-brand-800: #0C1737;
  --utility-brand-utility-brand-800-alt: #0C1737;
  --utility-brand-utility-brand-900: #060C1C;
  --utility-brand-utility-brand-900-alt: #060C1C;
  --utility-error-utility-error-50: #FEF3F2;
  --utility-error-utility-error-100: #FEE4E2;
  --utility-error-utility-error-200: #FECDCA;
  --utility-error-utility-error-300: #FDA29B;
  --utility-error-utility-error-400: #F97066;
  --utility-error-utility-error-500: #F14437;
  --utility-error-utility-error-600: #D92D21;
  --utility-error-utility-error-700: #B42419;
  --utility-warning-utility-warning-50: #FFFAEA;
  --utility-warning-utility-warning-100: #FEF1C6;
  --utility-warning-utility-warning-200: #FEDF88;
  --utility-warning-utility-warning-300: #FFC84B;
  --utility-warning-utility-warning-400: #FDB022;
  --utility-warning-utility-warning-500: #F79008;
  --utility-warning-utility-warning-600: #DC6903;
  --utility-warning-utility-warning-700: #B54707;
  --utility-success-utility-success-50: #ECFEF3;
  --utility-success-utility-success-100: #DCFAE6;
  --utility-success-utility-success-200: #A9EFC5;
  --utility-success-utility-success-300: #75E1A7;
  --utility-success-utility-success-400: #46CD89;
  --utility-success-utility-success-500: #19B26B;
  --utility-success-utility-success-600: #079455;
  --utility-success-utility-success-700: #047647;
  --utility-info-utility-info-50: #E5F0FF;
  --utility-info-utility-info-100: #CEE3FF;
  --utility-info-utility-info-200: #A5CBFF;
  --utility-info-utility-info-300: #7CB3FF;
  --utility-info-utility-info-400: #3389FF;
  --utility-info-utility-info-500: #006BFF;
  --utility-info-utility-info-600: #005AD6;
  --utility-info-utility-info-700: #0049AD;
  --buttons-primary-button-primary-fg: #FFFFFF;
  --buttons-primary-button-primary-fg-hover: #FFFFFF;
  --buttons-primary-button-primary-bg: #1E3A8A;
  --buttons-primary-button-primary-bg-hover: #122353;
  --buttons-secondary-button-secondary-fg: #414651;
  --buttons-secondary-button-secondary-fg-hover: #252B37;
  --buttons-secondary-button-secondary-bg: #FFFFFF;
  --buttons-secondary-button-secondary-bg-hover: #FAFAFA;
  --buttons-secondary-button-secondary-border: #D5D7DA;
  --buttons-secondary-button-secondary-border-hover: #D5D7DA;
  --buttons-secondary-color-button-secondary-color-fg: #122353;
  --buttons-secondary-color-button-secondary-color-fg-hover: #0C1737;
  --buttons-secondary-color-button-secondary-color-bg: #FFFFFF;
  --buttons-secondary-color-button-secondary-color-bg-hover: #E0E5F1;
  --buttons-secondary-color-button-secondary-color-border: #7486B8;
  --buttons-secondary-color-button-secondary-color-border-hover: #7486B8;
  --buttons-tertiary-button-tertiary-fg: #535862;
  --buttons-tertiary-button-tertiary-fg-hover: #414651;
  --buttons-tertiary-button-tertiary-bg-hover: #FAFAFA;
  --buttons-tertiary-color-button-tertiary-color-fg: #122353;
  --buttons-tertiary-color-button-tertiary-color-fg-hover: #0C1737;
  --buttons-tertiary-color-button-tertiary-color-bg-hover: #E0E5F1;
  --buttons-primary-error-button-primary-error-fg: #FFFFFF;
  --buttons-primary-error-button-primary-error-fg-hover: #FFFFFF;
  --buttons-primary-error-button-primary-error-bg: #D92D21;
  --buttons-primary-error-button-primary-error-bg-hover: #B42419;
  --buttons-secondary-error-button-secondary-error-fg: #B42419;
  --buttons-secondary-error-button-secondary-error-fg-hover: #912019;
  --buttons-secondary-error-button-secondary-error-bg: #FFFFFF;
  --buttons-secondary-error-button-secondary-error-bg-hover: #FEF3F2;
  --buttons-secondary-error-button-secondary-error-border: #FDA29B;
  --buttons-secondary-error-button-secondary-error-border-hover: #FDA29B;
  --buttons-tertiary-error-button-tertiary-error-fg: #B42419;
  --buttons-tertiary-error-button-tertiary-error-fg-hover: #912019;
  --buttons-tertiary-error-button-tertiary-error-bg-hover: #FEF3F2;
}

.dark {
  --text-brand-primary: #4960A1;
  --text-brand-primary-alt: #F7F7F7;
  --text-secondary-brand: #3B82F6;
  --text-accent: #26CBFF;
  --text-error: #F97066;
  --text-error-on-bg: #FEF3F2;
  --text-info: #3389FF;
  --text-info-on-bg: #E5F0FF;
  --text-success: #46CD89;
  --text-success-on-bg: #ECFEF3;
  --text-warning: #FDB022;
  --text-warning-on-bg: #FFFAEA;
  --text-display: #FFFFFF;
  --text-primary: #F7F7F7;
  --text-primary-on-brand: #F6F8FD;
  --text-secondary: #CECFD2;
  --text-secondary-hover: #ECECED;
  --text-secondary-on-brand: #CECFD2;
  --text-tertiary: #95979D;
  --text-tertiary-hover: #CECFD2;
  --text-tertiary-on-brand: #95979D;
  --text-quaternary: #95979D;
  --text-quartinary-on-brand: #95979D;
  --text-placeholder: #84888E;
  --text-placeholder-subtle: #383A41;
  --text-white: #FFFFFF;
  --text-disable: #84888E;
  --border-brand: #4960A1;
  --border-brand-alt: #383A41;
  --border-brand-hover: #383A41;
  --border-error: #F97066;
  --border-error-subtle: #F97066;
  --border-warning: #FDB022;
  --border-warning-subtle: #FDB022;
  --border-success: #46CD89;
  --border-success-subtle: #46CD89;
  --border-info: #3389FF;
  --border-info-subtle: #3389FF;
  --border-primary: #22262F;
  --border-secondary: #383A41;
  --border-tertiary: #22262F;
  --border-disable: #383A41;
  --border-disable-subtle: #22262F;
  --bg-brand-primary: #1E3A8A;
  --bg-brand-primary-alt: #22262F;
  --bg-brand-secondary: #182E6E;
  --bg-brand-solid: #4960A1;
  --bg-brand-solid-hover: #1E3A8A;
  --bg-brand-section: #22262F;
  --bg-brand-section-subtle: #0C0E12;
  --bg-secondary-color: #3B82F6;
  --bg-secondary-color-solid: #629BF8;
  --bg-secondary-color-hover: #3B82F6;
  --bg-error-primary: #F14437;
  --bg-error-secondary: #D92D21;
  --bg-error-solid: #D92D21;
  --bg-warning-primary: #F79008;
  --bg-warning-secondary: #DC6903;
  --bg-warning-solid: #DC6903;
  --bg-success-primary: #19B26B;
  --bg-success-secondary: #079455;
  --bg-success-solid: #079455;
  --bg-info-primary: #006BFF;
  --bg-info-secondary: #005AD6;
  --bg-info-solid: #005AD6;
  --bg-primary: #0C0E12;
  --bg-primary-alt: #14161B;
  --bg-primary-hover: #22262F;
  --bg-primary-solid: #14161B;
  --bg-secondary: #14161B;
  --bg-secondary-alt: #0C0E12;
  --bg-secondary-hover: #22262F;
  --bg-secondary-subtle: #14161B;
  --bg-secondary-solid: #61656C;
  --bg-tertiary: #22262F;
  --bg-quaternary: #383A41;
  --bg-active: #22262F;
  --bg-disable: #22262F;
  --bg-disable-subtle: #14161B;
  --bg-overlay: #22262F;
  --fg-brand-primary: #CECFD2;
  --fg-brand-primary-alt: #1E3A8A;
  --fg-brand-secondary: #1E3A8A;
  --fg-error: #F14437;
  --fg-error-alt: #F97066;
  --fg-warning: #F79008;
  --fg-warning-alt: #FDB022;
  --fg-success: #19B26B;
  --fg-success-alt: #46CD89;
  --fg-info: #006BFF;
  --fg-info-alt: #3389FF;
  --fg-primary: #FFFFFF;
  --fg-secondary: #CECFD2;
  --fg-secondary-hover: #ECECED;
  --fg-tertiary: #95979D;
  --fg-tertiary-hover: #CECFD2;
  --fg-quartenary: #95979D;
  --fg-quartenary-hover: #CECFD2;
  --fg-alternative: #84888E;
  --fg-alternative-hover: #95979D;
  --fg-alternative-subtle: #61656C;
  --fg-white: #FFFFFF;
  --fg-disable: #84888E;
  --fg-disable-subtle: #61656C;
  --alpha-white-alpha-white-100: #0C0E12;
  --alpha-white-alpha-white-90: #0C0E12;
  --alpha-white-alpha-white-80: #0C0E12;
  --alpha-white-alpha-white-70: #0C0E12;
  --alpha-white-alpha-white-60: #0C0E12;
  --alpha-white-alpha-white-50: #0C0E12;
  --alpha-white-alpha-white-40: #0C0E12;
  --alpha-white-alpha-white-30: #0C0E12;
  --alpha-white-alpha-white-20: #0C0E12;
  --alpha-white-alpha-white-10: #0C0E12;
  --alpha-black-alpha-black-100: #FFFFFF;
  --alpha-black-alpha-black-90: #FFFFFF;
  --alpha-black-alpha-black-80: #FFFFFF;
  --alpha-black-alpha-black-70: #FFFFFF;
  --alpha-black-alpha-black-60: #FFFFFF;
  --alpha-black-alpha-black-50: #FFFFFF;
  --alpha-black-alpha-black-40: #FFFFFF;
  --alpha-black-alpha-black-30: #FFFFFF;
  --alpha-black-alpha-black-20: #FFFFFF;
  --alpha-black-alpha-black-10: #FFFFFF;
  --utility-gray-utility-gray-25: #14161B;
  --utility-gray-utility-gray-50: #22262F;
  --utility-gray-utility-gray-100: #383A41;
  --utility-gray-utility-gray-200: #61656C;
  --utility-gray-utility-gray-300: #84888E;
  --utility-gray-utility-gray-400: #95979D;
  --utility-gray-utility-gray-500: #CECFD2;
  --utility-gray-utility-gray-600: #ECECED;
  --utility-gray-utility-gray-700: #F0F0F1;
  --utility-gray-utility-gray-800: #F7F7F7;
  --utility-gray-utility-gray-900: #FAFAFA;
  --utility-brand-utility-brand-25: #03060E;
  --utility-brand-utility-brand-50: #03060E;
  --utility-brand-utility-brand-50-alt: #14161B;
  --utility-brand-utility-brand-100: #060C1C;
  --utility-brand-utility-brand-100-alt: #22262F;
  --utility-brand-utility-brand-200: #0C1737;
  --utility-brand-utility-brand-200-alt: #383A41;
  --utility-brand-utility-brand-300: #122353;
  --utility-brand-utility-brand-300-alt: #383A41;
  --utility-brand-utility-brand-400: #182E6E;
  --utility-brand-utility-brand-400-alt: #61656C;
  --utility-brand-utility-brand-500: #1E3A8A;
  --utility-brand-utility-brand-500-alt: #84888E;
  --utility-brand-utility-brand-600: #4960A1;
  --utility-brand-utility-brand-600-alt: #95979D;
  --utility-brand-utility-brand-700: #7486B8;
  --utility-brand-utility-brand-700-alt: #CECFD2;
  --utility-brand-utility-brand-800: #A0ACCF;
  --utility-brand-utility-brand-800-alt: #ECECED;
  --utility-brand-utility-brand-900: #CBD2E6;
  --utility-brand-utility-brand-900-alt: #F0F0F1;
  --utility-error-utility-error-50: #4E1D09;
  --utility-error-utility-error-100: #7A2E0D;
  --utility-error-utility-error-200: #912019;
  --utility-error-utility-error-300: #B42419;
  --utility-error-utility-error-400: #D92D21;
  --utility-error-utility-error-500: #F14437;
  --utility-error-utility-error-600: #F97066;
  --utility-error-utility-error-700: #FDA29B;
  --utility-warning-utility-warning-50: #4E1D09;
  --utility-warning-utility-warning-100: #7A2E0D;
  --utility-warning-utility-warning-200: #93370E;
  --utility-warning-utility-warning-300: #B54707;
  --utility-warning-utility-warning-400: #DC6903;
  --utility-warning-utility-warning-500: #F79008;
  --utility-warning-utility-warning-600: #FDB022;
  --utility-warning-utility-warning-700: #FFC84B;
  --utility-success-utility-success-50: #053321;
  --utility-success-utility-success-100: #084D31;
  --utility-success-utility-success-200: #065D3A;
  --utility-success-utility-success-300: #047647;
  --utility-success-utility-success-400: #079455;
  --utility-success-utility-success-500: #19B26B;
  --utility-success-utility-success-600: #46CD89;
  --utility-success-utility-success-700: #75E1A7;
  --utility-info-utility-info-50: #001533;
  --utility-info-utility-info-100: #00275C;
  --utility-info-utility-info-200: #003885;
  --utility-info-utility-info-300: #0049AD;
  --utility-info-utility-info-400: #005AD6;
  --utility-info-utility-info-500: #006BFF;
  --utility-info-utility-info-600: #3389FF;
  --utility-info-utility-info-700: #7CB3FF;
  --buttons-primary-button-primary-fg: #FFFFFF;
  --buttons-primary-button-primary-fg-hover: #FFFFFF;
  --buttons-primary-button-primary-bg: #1E3A8A;
  --buttons-primary-button-primary-bg-hover: #122353;
  --buttons-secondary-button-secondary-fg: #CECFD2;
  --buttons-secondary-button-secondary-fg-hover: #F0F0F1;
  --buttons-secondary-button-secondary-bg: #14161B;
  --buttons-secondary-button-secondary-bg-hover: #22262F;
  --buttons-secondary-button-secondary-border: #383A41;
  --buttons-secondary-button-secondary-border-hover: #383A41;
  --buttons-secondary-color-button-secondary-color-fg: #CECFD2;
  --buttons-secondary-color-button-secondary-color-fg-hover: #F0F0F1;
  --buttons-secondary-color-button-secondary-color-bg: #14161B;
  --buttons-secondary-color-button-secondary-color-bg-hover: #22262F;
  --buttons-secondary-color-button-secondary-color-border: #383A41;
  --buttons-secondary-color-button-secondary-color-border-hover: #383A41;
  --buttons-tertiary-button-tertiary-fg: #95979D;
  --buttons-tertiary-button-tertiary-fg-hover: #ECECED;
  --buttons-tertiary-button-tertiary-bg-hover: #22262F;
  --buttons-tertiary-color-button-tertiary-color-fg: #CECFD2;
  --buttons-tertiary-color-button-tertiary-color-fg-hover: #F0F0F1;
  --buttons-tertiary-color-button-tertiary-color-bg-hover: #22262F;
  --buttons-primary-error-button-primary-error-fg: #FFFFFF;
  --buttons-primary-error-button-primary-error-fg-hover: #FFFFFF;
  --buttons-primary-error-button-primary-error-bg: #D92D21;
  --buttons-primary-error-button-primary-error-bg-hover: #B42419;
  --buttons-secondary-error-button-secondary-error-fg: #FECDCA;
  --buttons-secondary-error-button-secondary-error-fg-hover: #FEE4E2;
  --buttons-secondary-error-button-secondary-error-bg: #4E1D09;
  --buttons-secondary-error-button-secondary-error-bg-hover: #7A2E0D;
  --buttons-secondary-error-button-secondary-error-border: #912019;
  --buttons-secondary-error-button-secondary-error-border-hover: #B42419;
  --buttons-tertiary-error-button-tertiary-error-fg: #FDA29B;
  --buttons-tertiary-error-button-tertiary-error-fg-hover: #FECDCA;
  --buttons-tertiary-error-button-tertiary-error-bg-hover: #7A2E0D;
}
